/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/


/* 
HEADER STYLING */

nav ul li{
     list-style-type: none;
}
nav ul li a{
     text-decoration: none;
}
nav ul{
     display: flex;
     justify-content: space-around;
     align-items: center;
}

nav input{
     width: 400px;
     height: 40px;
}
.se{
     position: absolute;
     align-self: center;
}

/* TOP HERO */

.top-hero{
     height: 220px;

}

.top-hero-items{
     margin: 0 auto;
     width: 80%;
     border: 2px solid rd;
     text-align: center;
}

/* BUTTON */

a{
     text-decoration: none;
}
.btn{
     border: 2px solid  #A020F0;
     border-radius: 5px;
     color: #fff;
     background-color: #A020F0;
     padding: 10px;
     font-family: 'Fira Sans Extra Condensed', sans-serif;
}

/* MAIN CONTAINER */

.main-container{
     display: flex;
     justify-content: space-between;
     width: 90%;
     margin: 0 auto;
     
     
}

.main-container-content-2{
     width: 60%;
     
}
.main-container-content-1, .main-container-content-3{
     width: 20%;
}
.main-container-content-1 img, .main-container-content-3 img{
     width: 60%;
     margin-left: 50px;

}

.move-down{
     margin-top: 100px;
   
}

.main-container-content-2 video{
     width: 800px;
     margin: 0 auto;
     margin-top: 20px;
}


/* PERFECT FIT SECTION */

.perfect-fit{
     text-align: center;
     margin:50px;
}
.perfect-fit-contents{
     display: flex;
     justify-content: space-between;
     height: 300px;
     width: 80%;
     margin: 0 auto;
}

.perfect-fit-contents .icon{
     display: flex;
     align-items: center;
     justify-content: center;
}
.icon i{
     margin-right: 10px;
     color: gold;
}



.perfect-fit-contents section .btn{
     width: 90%;
     height: 50px;
}

.perfect-fit-paragraph{
     margin-top: 30px;
}
.perfect-fit-paragraph a{
     text-decoration: underline;
}

/* COMPANY LOGO */

.company-logo{
     text-align: center;
}

.company-logo section{
     display: flex;
     justify-content: center;
     align-items: center;
}
.company-logo section img{
     width: 12%;
}


/* IMAGE GALLERY */
.img-gallery-container{
     padding-top: 100px;
}
.gallery-1{
     display: flex;
     justify-content: space-between;
     width: 80%;
     margin: 0 auto;
}

.right video, .right img{
     width: 100%

}

.right{
    
     width: 80%;
}
.left{
     padding: 30px;
     width: 50%;
     margin-top: 60px;
}

/* TEMPLATE GALLERY */

.template-gallery{
     border: 2px solid red;
     display: flex;
     justify-content: space-between;
}

.template-gallery .gallery-t{
     border: 2px solid black;

}

.gallery-t-1{
     display: grid;
  grid: repeat(2, 160px) / auto-flow 80px;
}

/* BROWSE */

.browse-template-container div{
     text-align: center;
   
    
}
.browse-template-container div  .btn--2{
     border: 2px solid  #A020F0;
     border-radius: 5px;
     color: #fff;
     background-color: #A020F0;
     padding: 10px;
     font-family: 'Fira Sans Extra Condensed', sans-serif;
}

.browse-template-container .btn{
     background-color: #e6e5e5;
     color: #000;
     border: 2px solid #e6e5e5;
    
}

.browse-template-container div{
     text-align: center;
}
.browse-create{
     width: 50%;
     margin: 0 auto;
     text-align: center;
}
.two-create{
     margin: 0 auto;
     width: 80%;
     border: 2px solid red;
}
.two-create div{
    
     display: flex;
     justify-content: space-around;
}

.two-create li{
     margin: 40px 0;
}


.two-create span{
     font-weight: bold;
}

.two-create video{
     width: 100%;
}

.two-create ul{
     border: 2px solid black;
     margin-top: 80px;
}

.two-create i{
     margin-right: 10px;
}

.suprise-center{
     text-align: center;
}

.suprise-gallery{
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.suprise-gallery div{
     padding: 10px;
}

.suprise-gallery p{
     margin-top: 20px;
}
footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* FONTS */

nav ul li a{
     font-family: 'Tajawal', sans-serif;
     color: #000;
     font-weight: bold;
     font-size: 1.2rem;
}

.top-hero-items h1{
     font-family: 'Quicksand', sans-serif;
     font-size: 3rem;
}

.top-hero-items p{
     font-family: 'Fira Sans Extra Condensed', sans-serif;
     font-size: 1.7rem;
}

.perfect-fit-contents h3{
     font-size: 1.7rem;
}

.perfect-fit h1, .left h3{
     font-size: 2rem;
}

.perfect-fit-paragraph{
     font-size: 1.1rem;
}

.left p{
     font-family: 'Fira Sans Extra Condensed', sans-serif;

}

.left p a{
     text-decoration: underline;
}

